.DS_Store
.cache
.metadata
.settings
.classpath
.project
.idea
.scala_dependencies
*.iml
.brackets.json
target
out
build
bower_components
node_modules
/project/boot/
/project/plugins/project
lib_managed/
src_managed/
test-output/

