html {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -o-user-select: none;
}
body {
  font-size: 16px;
  font-family: RobotoDraft, Helvetica, Tahoma, Arial, STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑", SimSun, "宋体", sans-serif;
}
html /deep/[hide] {
  display: none !important;
}
html /deep/ .tap {
  cursor: pointer;
}
html /deep/ paper-button {
  border: 1px solid #2196F3;
  color: #333;
}
html /deep/ paper-icon-button {
  color: #333;
}
html /deep/ paper-button:hover,
html /deep/ paper-icon-button:hover,
html /deep/ paper-button.active,
html /deep/ paper-icon-button.active {
  color: #2196F3;
}
html /deep/ label {
  color: #333;
}
html /deep/ .selectable {
  -moz-user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text;
  -o-user-select: text;
}
html /deep/ .fade {
  visibility: hidden;
  opacity: 0;
  transition: opacity 300ms ease, visibility 0 linear 300ms;
}
html /deep/ .fade[show] {
  visibility: visible;
  opacity: 1;
  transition: opacity 300ms ease, visibility 0 linear;
}
html /deep/ .slide {
  visibility: hidden;
  transform: translateX(200%);
  transition: transform 300ms ease, visibility 0 linear 300ms;
}
html /deep/ .slide.left {
  transform: translateX(-200%);
}
html /deep/ .slide.up {
  transform: translateY(-200%);
}
html /deep/ .slide.down {
  transform: translateY(200%);
}
html /deep/ .slide[show] {
  visibility: visible;
  transform: translate(0, 0);
  transition: transform 300ms ease, visibility 0 linear;
}
html /deep/ .overmask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}