@import url("theme.css");
 html {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -o-user-select: none;
}
body {
  font-family: RobotoDraft, Helvetica, Tahoma, Arial, STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑", SimSun, "宋体", sans-serif;
}
html /deep/ paper-button {
  border: 1px solid #45ada8;
  cursor: pointer;
}
html /deep/ paper-button[raised] {
  border: 0;
}
html /deep/ paper-icon-button {
  cursor: pointer;
}
html /deep/ paper-button:hover,
html /deep/ paper-icon-button:hover,
html /deep/ paper-button.active,
html /deep/ paper-icon-button.active {
  color: #45ada8;
}
html /deep/ paper-button[primary] {
  border: 0;
  background-color: #45ada8;
  color: #fff;
}
html /deep/[bg-primary] {
  background-color: #45ada8;
}
html /deep/[bg-secondary] {
  background-color: #547980;
}
html /deep/[bg-success] {
  background-color: #8bc34a;
}
html /deep/[bg-info] {
  background-color: #9de0ad;
}
html /deep/[bg-warning] {
  background-color: #fadd60;
}
html /deep/[bg-error] {
  background-color: #ff8a65;
}
html /deep/[ft-primary] {
  color: #45ada8;
}
html /deep/[ft-secondary] {
  color: #547980;
}
html /deep/[ft-success] {
  color: #8bc34a;
}
html /deep/[ft-info] {
  color: #9de0ad;
}
html /deep/[ft-warning] {
  color: #fadd60;
}
html /deep/[ft-error] {
  color: #ff8a65;
}
html /deep/[selectable] {
  -moz-user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text;
  -o-user-select: text;
}
html /deep/[layout] >[block] {
  width: 100%;
}
html /deep/[fade] {
  visibility: visible;
  opacity: 1;
  transition: opacity 300ms ease, visibility 0 linear;
}
html /deep/[fade][hidden] {
  display: block !important;
  visibility: hidden;
  opacity: 0;
  transition: opacity 300ms ease, visibility 0 linear 300ms;
}
html /deep/[slide] {
  visibility: visible;
  transform: translate(0, 0);
  transition: transform 300ms ease, visibility 0 linear;
}
html /deep/[slide][hidden] {
  display: block !important;
  visibility: hidden;
  transform: translateX(200%);
  transition: transform 300ms ease, visibility 0 linear 300ms;
}
html /deep/[slide][left][hidden] {
  transform: translateX(-200%);
}
html /deep/[slide][up][hidden] {
  transform: translateY(-200%);
}
html /deep/[slide][down][hidden] {
  transform: translateY(200%);
}