html {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -o-user-select: none;
}
body {
  font-size: 16px;
  font-family: RobotoDraft, Helvetica, Tahoma, Arial, STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑", SimSun, "宋体", sans-serif;
}
html /deep/ paper-button {
  border: 1px solid #2196F3;
  color: #333;
  cursor: pointer;
}
html /deep/ paper-icon-button {
  color: #333;
  cursor: pointer;
}
html /deep/ paper-button:hover,
html /deep/ paper-icon-button:hover,
html /deep/ paper-button.active,
html /deep/ paper-icon-button.active {
  color: #2196F3;
}
html /deep/ label {
  color: #333;
}
html /deep/[selectable] {
  -moz-user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text;
  -o-user-select: text;
}
html /deep/[fade] {
  visibility: visible;
  opacity: 1;
  transition: opacity 300ms ease, visibility 0 linear;
}
html /deep/[fade][hidden] {
  display: block !important;
  visibility: hidden;
  opacity: 0;
  transition: opacity 300ms ease, visibility 0 linear 300ms;
}
html /deep/[slide] {
  visibility: visible;
  transform: translate(0, 0);
  transition: transform 300ms ease, visibility 0 linear;
}
html /deep/[slide][hidden] {
  display: block !important;
  visibility: hidden;
  transform: translateX(200%);
  transition: transform 300ms ease, visibility 0 linear 300ms;
}
html /deep/[slide][left][hidden] {
  transform: translateX(-200%);
}
html /deep/[slide][up][hidden] {
  transform: translateY(-200%);
}
html /deep/[slide][down][hidden] {
  transform: translateY(200%);
}